<div id="teach">

    <table class="table">
        <thead id="teach_head">

            <tr>
                <th>课程名称</th>
                <th>讲师</th>
                <th>评估</th>
            </tr>
        </thead>

        <tr>
            <td rowspan="3" id="english">高等数学I</td>
            <td rowspan="3" id="englishTeacher">李四</td>
            <td>教学质量
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <select id="englishSelectQuality">
                    <option>优秀</option>
                    <option>良好</option>
                    <option>一般</option>
                </select>
                <span></span>
            </td>
        </tr>


        <tr>
            <td>课堂互动
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <select id="englishSelectInteraction">
                    <option>优秀</option>
                    <option>良好</option>
                    <option>一般</option>
                </select>
                <span></span>
            </td>
        </tr>

        <tr>
            <td>题目新颖
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <select id="englishSelectNovel">
                    <option>优秀</option>
                    <option>良好</option>
                    <option>一般</option>
                </select>
                <span></span>
            </td>
        </tr>

        <tr>
            <td rowspan="3" id="math">大学外语I</td>
            <td rowspan="3" id="mathTeacher">张三</td>
            <td>教学质量
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <select id="mathSelectQuality">
                    <option>优秀</option>
                    <option>良好</option>
                    <option>一般</option>
                </select>
                <span></span>
            </td>
        </tr>


        <tr>
            <td>课堂互动
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <select id="mathSelectInteraction">
                    <option>优秀</option>
                    <option>良好</option>
                    <option>一般</option>
                </select>
                <span></span>
            </td>
        </tr>

        <tr>
            <td>题目新颖
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <select id="mathSelectNovel">
                    <option>优秀</option>
                    <option>良好</option>
                    <option>一般</option>
                </select>
                <span></span>
            </td>
        </tr>

        <tr>
            <td rowspan="3" id="c">大学体育I</td>
            <td rowspan="3" id="cTeacher">王五</td>
            <td>教学质量
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <select id="cSelectQuality">
                    <option>优秀</option>
                    <option>良好</option>
                    <option>一般</option>
                </select>
                <span></span>
            </td>
        </tr>

        <tr>
            <td>课堂互动
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <select id="cSelectInteraction">
                    <option>优秀</option>
                    <option>良好</option>
                    <option>一般</option>
                </select>
                <span></span>
            </td>
        </tr>

        <tr>
            <td>题目新颖
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <select id="cSelectNovel">
                    <option>优秀</option>
                    <option>良好</option>
                    <option>一般</option>
                </select>
                <span></span>
            </td>
        </tr>

        <tr>
            <td rowspan="3" id="linearAlgebra">大学生健康教育</td>
            <td rowspan="3" id="linearAlgebraTeacher">赵六</td>
            <td>教学质量
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <select id="linearAlgebraSelectQuality">
                    <option>优秀</option>
                    <option>良好</option>
                    <option>一般</option>
                </select>
                <span></span>
            </td>
        </tr>

        <tr>
            <td>课堂互动
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <select id="linearAlgebraSelectInteraction">
                    <option>优秀</option>
                    <option>良好</option>
                    <option>一般</option>
                </select>
                <span></span>
            </td>
        </tr>

        <tr>
            <td>题目新颖
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <select id="linearAlgebraSelectNovel">
                    <option>优秀</option>
                    <option>良好</option>
                    <option>一般</option>
                </select>
                <span></span>
            </td>
        </tr>


        <tr>
            <td rowspan="3" id="history">C语言程序设计I</td>
            <td rowspan="3" id="historyTeacher">肖明霞</td>
            <td>教学质量
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <select id="historySelectQuality">
                    <option>优秀</option>
                    <option>良好</option>
                    <option>一般</option>
                </select>
                <span></span>
            </td>
        </tr>

        <tr>
            <td>课堂互动
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <select id="historySelectInteraction">
                    <option>优秀</option>
                    <option>良好</option>
                    <option>一般</option>
                </select>
                <span></span>
            </td>
        </tr>

        <tr>
            <td>题目新颖
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <select id="historySelectNovel">
                    <option>优秀</option>
                    <option>良好</option>
                    <option>一般</option>
                </select>
                <span></span>
            </td>
        </tr>


    </table>

    <button type="button" class="btn btn-success" id="offer"> 提交 </button>

</div>